@font-face {
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
src: url(../font/material-design-icons/MaterialIcons-Regular.eot);
/* For IE6-8 */
src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'), url(../font/material-design-icons/MaterialIcons-Regular.woff) format('woff'), url(../font/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.icon-content{
  font-size: 3em;
}
.body-background{
  background-image: url(../img/44.jpg);
}

.color-lindo{
  background-color: #79D8E4;
}
.link-sin-decor{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: rgba(255, 156, 39, 0.42);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 152, 0, 0.63);
    height: auto;
}
::-webkit-scrollbar-button{
    }
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(244, 105, 3, 0.29) ;
}
::-webkit-scrollbar-thumb:active{
    background-color: #ff6403 ;
    border: 0.1px solid black;
}
::selection{
    background-color: rgba(28, 235, 20, 0.93);
    color: white;
    text-shadow: 1px 1px 2px black;
}
